//registry.npmjs.org/:_authToken=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
@awesome.me:registry=https://npm.fontawesome.com/
@fortawesome:registry=https://npm.fontawesome.com/
//npm.fontawesome.com/:_authToken=9D2DABC8-C925-4C0E-9C4E-8F09285F74A7