.align-content-stretch {
  align-content: stretch;
}
.align-content-center {
  align-content: center;
}
.align-content-flex-start {
  align-content: flex-start;
}
.align-content-flex-end {
  align-content: flex-end;
}
.align-content-space-between {
  align-content: space-between;
}
.align-content-space-around {
  align-content: space-around;
}
.align-content-space-evenly {
  align-content: space-evenly;
}
.align-content-initial {
  align-content: initial;
}
.align-content-inherit {
  align-content: inherit;
}
