.vertical-align-baseline {
  vertical-align: baseline;
}
.vertical-align-sub {
  vertical-align: sub;
}
.vertical-align-super {
  vertical-align: super;
}
.vertical-align-top {
  vertical-align: top;
}
.vertical-align-text-top {
  vertical-align: text-top;
}
.vertical-align-middle {
  vertical-align: middle;
}
.vertical-align-bottom {
  vertical-align: bottom;
}
.vertical-align-text-bottom {
  vertical-align: text-bottom;
}
.vertical-align-initial {
  vertical-align: initial;
}
.vertical-align-inherit {
  vertical-align: inherit;
}
