.align-items-normal {
  align-items: normal;
}
.align-items-stretch {
  align-items: stretch;
}
.align-items-center {
  align-items: center;
}
.align-items-flex-start {
  align-items: flex-start;
}
.align-items-flex-end {
  align-items: flex-end;
}
.align-items-start {
  align-items: start;
}
.align-items-end {
  align-items: end;
}
.align-items-baseline {
  align-items: baseline;
}
.align-items-initial {
  align-items: initial;
}
.align-items-inherit {
  align-items: inherit;
}
