.background-repeat-repeat {
  background-repeat: repeat;
}
.background-repeat-repeat-x {
  background-repeat: repeat-x;
}
.background-repeat-repeat-y {
  background-repeat: repeat-y;
}
.background-repeat-no-repeat {
  background-repeat: no-repeat;
}
.background-repeat-space {
  background-repeat: space;
}
.background-image-image-1 {
  background-image: var(--image-1);
}
