.flex-wrap-nowrap {
  flex-wrap: nowrap;
}
.flex-wrap-wrap {
  flex-wrap: wrap;
}
.flex-wrap-wrap-reverse {
  flex-wrap: wrap-reverse;
}
.flex-wrap-initial {
  flex-wrap: initial;
}
.flex-wrap-inherit {
  flex-wrap: inherit;
}

.justify-content-flex-start {
  justify-content: flex-start;
}
.justify-content-flex-end {
  justify-content: flex-end;
}
.justify-content-center {
  justify-content: center;
}
.justify-content-space-between {
  justify-content: space-between;
}
.justify-content-space-around {
  justify-content: space-around;
}
.justify-content-space-evenly {
  justify-content: space-evenly;
}
.justify-content-initial {
  justify-content: initial;
}
.justify-content-inherit {
  justify-content: inherit;
}
