.font-size-5px {
  font-size: 5px;
}
.font-size-6px {
  font-size: 6px;
}
.font-size-7px {
  font-size: 7px;
}
.font-size-8px {
  font-size: 8px;
}
.font-size-9px {
  font-size: 9px;
}
.font-size-10px {
  font-size: 10px;
}
.font-size-11px {
  font-size: 11px;
}
.font-size-12px {
  font-size: 12px;
}
.font-size-13px {
  font-size: 13px;
}
.font-size-14px {
  font-size: 14px;
}
.font-size-15px {
  font-size: 15px;
}
.font-size-16px {
  font-size: 16px;
}
.font-size-17px {
  font-size: 17px;
}
.font-size-18px {
  font-size: 18px;
}
.font-size-19px {
  font-size: 19px;
}
.font-size-20px {
  font-size: 20px;
}
.font-size-21px {
  font-size: 21px;
}
.font-size-22px {
  font-size: 22px;
}
.font-size-23px {
  font-size: 23px;
}
.font-size-24px {
  font-size: 24px;
}
.font-size-25px {
  font-size: 25px;
}
.font-size-26px {
  font-size: 26px;
}
.font-size-27px {
  font-size: 27px;
}
.font-size-28px {
  font-size: 28px;
}
.font-size-29px {
  font-size: 29px;
}
.font-size-30px {
  font-size: 30px;
}
n.font-size-5pt {
  font-size: 5pt;
}
.font-size-6pt {
  font-size: 6pt;
}
.font-size-7pt {
  font-size: 7pt;
}
.font-size-8pt {
  font-size: 8pt;
}
.font-size-9pt {
  font-size: 9pt;
}
.font-size-10pt {
  font-size: 10pt;
}
.font-size-11pt {
  font-size: 11pt;
}
.font-size-12pt {
  font-size: 12pt;
}
.font-size-13pt {
  font-size: 13pt;
}
.font-size-14pt {
  font-size: 14pt;
}
.font-size-15pt {
  font-size: 15pt;
}
.font-size-16pt {
  font-size: 16pt;
}
.font-size-17pt {
  font-size: 17pt;
}
.font-size-18pt {
  font-size: 18pt;
}
.font-size-19pt {
  font-size: 19pt;
}
.font-size-20pt {
  font-size: 20pt;
}
.font-size-21pt {
  font-size: 21pt;
}
.font-size-22pt {
  font-size: 22pt;
}
.font-size-23pt {
  font-size: 23pt;
}
.font-size-24pt {
  font-size: 24pt;
}
.font-size-25pt {
  font-size: 25pt;
}
.font-size-26pt {
  font-size: 26pt;
}
.font-size-27pt {
  font-size: 27pt;
}
.font-size-28pt {
  font-size: 28pt;
}
.font-size-29pt {
  font-size: 29pt;
}
.font-size-30pt {
  font-size: 30pt;
}
.font-size-1rem {
  font-size: 1rem;
}
.font-size-2rem {
  font-size: 2rem;
}
.font-size-3rem {
  font-size: 3rem;
}
.font-size-4rem {
  font-size: 4rem;
}
.font-size-5rem {
  font-size: 5rem;
}
.font-size-6rem {
  font-size: 6rem;
}
.font-size-7rem {
  font-size: 7rem;
}
.font-size-8rem {
  font-size: 8rem;
}
.font-size-9rem {
  font-size: 9rem;
}
.font-size-10rem {
  font-size: 10rem;
}
