._font-size--9pt {
  font-size: 9pt;
}
._color--var_gray-125_ {
  color: var(--gray-125);
}
._vertical-align--top {
  vertical-align: top;
}
._margin-bottom--1rem {
  margin-bottom: 1rem;
}
._margin-top--1rem {
  margin-top: 1rem;
}
._font-size--11pt {
  font-size: 11pt;
}
._color--var_gray-400_ {
  color: var(--gray-400);
}
._list-style-position--inside {
  list-style-position: inside;
}
._font-size--10pt {
  font-size: 10pt;
}
._cursor--pointer {
  cursor: pointer;
}
._margin-bottom--10rem {
  margin-bottom: 10rem;
}
._margin-top--3rem {
  margin-top: 3rem;
}
._display--block {
  display: block;
}
._margin-left--1rem {
  margin-left: 1rem;
}
._margin-right--1rem {
  margin-right: 1rem;
}
._line-height--1p5 {
  line-height: 1.5;
}
._word-wrap--break-word {
  word-wrap: break-word;
}
._font-size--2rem {
  font-size: 2rem;
}
