*,
*:after,
*:before {
  box-sizing: border-box;
}

*:focus {
  outline: 0;
  box-shadow: none;
}

#root {
  font-family: "Helvetica";
}

a,
button {
  cursor: pointer;
}

a,
a:hover {
  text-decoration: none;
}
button {
  border: none;
}

body,
a,
p,
h1,
h2,
h3,
h4,
h5,
h6,
label,
span,
input,
select,
textarea,
button,
ol,
ul,
li {
  font-family: Helvetica, "Helvetica";
  //font-family: "Droid Sans', Helvetica, sans-serif";
  margin: 0;
  padding: 0;
}

img {
  max-width: 100%;
  height: auto;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

a,
a > p {
  transition: background 0.25s ease-in-out;
  transition: color 0s ease-in-out;
  text-decoration: none;
  &:hover {
    text-decoration: none;
  }
  &:focus {
    outline: 0 solid;
  }
}

button {
  border: none;
  outline: none !important;
  &:hover {
    outline: none;
  }
}

button:disabled,
.disabled {
  opacity: 0.5;
  cursor: not-allowed !important;
  &:hover {
    filter: none !important;
  }
}

button,
i,
a,
span > i {
  cursor: pointer;
}

.hidden {
  display: none !important;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}
