.cursor-pointer {
  cursor: pointer;
}
.display-inline-block {
  display: inline-block;
}
.display-block {
  display: block;
}
.display-flex {
  display: flex;
}
.flex-wrap-wrap {
  flex-wrap: wrap;
}
.font-size-12px {
  font-size: 12px;
}
.font-size-9pt {
  font-size: 9pt;
}
.font-size-10pt {
  font-size: 10pt;
}
.font-size-11pt {
  font-size: 11pt;
}
.height-fit-content {
  height: fit-content;
}
.justify-content-space-between {
  justify-content: space-between;
}
.line-height-1-5 {
  line-height: 1.5;
}
.list-style-position-inside {
  list-style-position: inside;
}
.margin-bottom-1rem {
  margin-bottom: 1rem;
}
.margin-bottom-5rem {
  margin-bottom: 5rem;
}
.margin-bottom-10rem {
  margin-bottom: 10rem;
}
.margin-left-1rem {
  margin-left: 1rem;
}
.margin-left-auto {
  margin-left: auto;
}
.margin-right-1rem {
  margin-right: 1rem;
}
.margin-right-auto {
  margin-right: auto;
}
.margin-top-1rem {
  margin-top: 1rem;
}
.margin-top-2rem {
  margin-top: 2rem;
}
.margin-top-3rem {
  margin-top: 3rem;
}
.margin-top-5rem {
  margin-top: 5rem;
}
.margin-top-10rem {
  margin-top: 10rem;
}
.max-width-80-percent {
  width: 80%;
}
.padding-bottom-2px {
  padding-bottom: 2px;
}
.position-relative {
  position: relative;
}
.position-sticky {
  position: sticky;
}
.top-100px {
  top: 100px;
}
.width-100-percent {
  width: 100%;
}
.width-85-percent {
  width: 85%;
}
.width-80-percent {
  width: 80%;
}
.width-70-percent {
  width: 70%;
}
.width-20-percent-minus-1rem {
  width: calc(20% - 1rem);
}
.width-80-percent-minus-1rem {
  width: calc(80% - 1rem);
}
.word-wrap-break-word {
  word-wrap: break-word;
}
