.page_section_container {
  width: 95%;
  margin-left: auto;
  margin-right: auto;
}

.left_sidebar_page_container {
  display: flex;

  .left_sidebar {
    background-color: #f9f9f9;
    flex: 1;
    border-style: solid;
    border-width: 1px;
    border-bottom: 1px;
    border-color: #d8d8d8;
    font-size: 16px;
    color: var(--gray-400);

    .left_sidebar_navigation_link_ul {
      margin: 0;
      padding: 0;
    }

    .left_sidebar_navigation_link_li {
      border-bottom: 1px solid var(--gray-175);
      scroll-behavior: smooth;

      a {
        display: block;
        padding: 1rem 2rem;
      }
    }
  }
}

.two_column_gutter_1 {
  position: relative;
  display: inline-block;
  vertical-align: top;
  width: calc(50% - (1rem / 2));
  margin-right: 1rem;

  &:last-of-type {
    margin-right: 0;
  }
}

.two_column_gutter_2 {
  position: relative;
  display: inline-block;
  vertical-align: top;
  width: calc(50% - (2rem / 2));
  margin-right: 2rem;

  &:last-of-type {
    margin-right: 0;
  }
}

.two_column_gutter_3 {
  position: relative;
  display: inline-block;
  vertical-align: top;
  width: calc(50% - (3rem / 2));
  margin-right: 3rem;

  &:last-of-type {
    margin-right: 0;
  }
}

.timeline_grid_item_container {
  display: inline-block;
  margin-right: 2rem;
  margin-bottom: 2rem;
  vertical-align: top;
  cursor: pointer;

  .timeline_grid_item_label {
    width: 100px;
    word-wrap: break-word;
  }
}

.container-centered {
  display: inline-flex;
  justify-content: center;
  align-items: center;
}

.square-100px {
  width: 100px;
  height: 100px;
}

.spaced_table {
  border-collapse: separate;
  border-spacing: 1rem 2rem;
  margin-top: 2rem;
}

.marketing_content_list_item_symbol_container span {
  margin-right: 1rem;
  vertical-align: middle;
  font-size: 1.5rem;
  color: #bbb;
}

.large_lockup_container {
  border: 2px solid var(--gray-175);
  border-radius: 16px;
  padding: 3rem;
  text-align: center;
  margin-bottom: 1rem;
}

.interval_metadata_popover_header {
  padding: 1rem;
  border-bottom: 1px solid var(--gray-175);
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  border-bottom-right-radius: 0px;
  border-bottom-left-radius: 0px;
  background-color: var(--gray-150);
}

.interval_metadata_popover_container {
  min-width: 30rem;
  background-color: #fff;
  border: 1px solid var(--gray-175);
  border-radius: 4px;
  z-index: 100;
}

.loading_wheel_container {
  display: flex;
  margin: auto;
  width: 5rem;
}

.pillbug {
  width: fit-content;
  display: inline-block;
  padding: 5px 10px;
  border-radius: 10px;
  font-size: var(--small-text-1);
  margin-right: 0.5rem;
  &:last-of-type {
    margin-right: 0;
  }

  span {
    color: white;
  }
}

.user_metadata_profile_picture_container {
  margin-right: 1rem;
  max-width: 3rem;
  display: inline-block;
  vertical-align: middle;
}

.or_treatment_container {
  display: flex;
  text-align: center;
  white-space: nowrap;
  justify-content: center;
  align-items: center;
}
.or_treatment_separator {
  flex-grow: 1;
  margin: 0px 10px;
}
