.grid_item_button_container {
  display: inline-flex;
  flex-direction: column;
  justify-content: center;
  vertical-align: top;
  align-items: center;
  width: 8rem;
  height: 7rem;
  border: 1px solid var(--gray-175);
  border-radius: 10px;
  margin-right: 2rem;
  cursor: pointer;

  &:last-of-type {
    margin-right: 0;
  }

  &:hover {
    background-color: var(--gray-150);
  }
}

.grid_item_button_symbol {
  font-size: 2rem;
  height: 2rem;
  margin-bottom: 0.5rem;
}

.grid_item_button_symbol_new_row,
.grid_item_button_symbol_import_row {
  filter: opacity(0.2);
}
.grid_item_button_symbol_import_row {
  height: 1.75rem;
}
.grid_item_button_symbol_doordash {
  height: 1.5rem;
  margin-bottom: 0.75rem;
}

.import_row_form_instructions_text {
  font-size: 14px;
  text-align: center;
}
