input::placeholder,
textarea::placeholder {
  color: var(--gray-75);
}

input,
textarea,
select {
  border: 2px solid var(--gray-50);
  border-radius: 4px;
  padding: 0.75rem;
  width: 100%;
  max-width: 100%;
  max-height: 100%;

  &:focus {
    box-shadow: none;
    border-color: none;
    outline: none;
  }
}

input[type="datetime-local"] {
  border-radius: 0px;
}

input[type="checkbox"] {
  width: auto;
  display: inline-block;
}

.invalid_tooltip,
.valid_tooltip,
.semi_valid_tooltip {
  position: absolute;
  width: fit-content;
  margin-top: 0.25rem;
  padding: 0.25rem 0.75rem 0.25rem 0.5rem;
  border-radius: 4px;
  color: #fff;
  font-size: 11px;
  z-index: 1;
}

textarea + .invalid_tooltip,
textarea + .valid_tooltip,
textarea + .semi_valid_tooltip {
  margin-top: 0;
}

.valid_input {
  border-color: var(--green-100);
}

.valid_tooltip {
  background-color: var(--green-100);
}

.invalid_input {
  border-color: var(--red-100);
}

.invalid_tooltip {
  background-color: var(--red-100);
}

.semi_valid_input {
  border-color: var(--yellow-100);
}

.semi_valid_tooltip {
  background-color: var(--yellow-100);
}

input[type="datetime-local"]::-webkit-calendar-picker-indicator {
  filter: brightness(0.5);
  color: var(--gray-400);
}

.custom_select_menu_selected_option_container {
  padding: 10px;
  position: relative;
  border: 2px solid var(--gray-50);
}

.custom_select_menu_options_container {
  border: 2px solid var(--gray-50);
  border-top: none;
  width: 100%;
  z-index: 100;
}

.custom_select_option {
  padding: 1rem;
  border-bottom: 2px solid var(--gray-50);
  background-color: #fff;
  cursor: pointer;

  &:first-of-type {
    border-top: none;
  }

  &:hover {
    background-color: var(--blue-500);
  }
}

.custom_select_option_span {
  width: 2.25em;
  height: 1.5em;
  display: inline-block;
  margin: 0px 30px 3px 10px;
  vertical-align: middle;

  &:hover {
    color: #fff;
  }
}

#initial_registration_form,
#timeline_metadata_form {
  label {
    display: none;
  }
}

input:focus::-webkit-input-placeholder {
  color: transparent;
}
