.left_sidebar {
  a.left_sidebar_navigation_link {
    display: block;
    width: 100%;
    height: 100%;
    padding: 10px;
    color: black;
    &.active_nav_link {
      color: white;
      background: var(--blue-100);
    }
    &:hover {
      color: white;
      background: var(--blue-100);
    }
  }
}

footer {
  a {
    &.active_nav_link {
      color: white;
      background: var(--blue-100);
    }
  }
}

.left_sidebar_navigation_link_image img {
  border-bottom: 5px solid transparent;
  &:hover {
    border-bottom-color: var(--blue-100);
  }
}

.active_nav_image img {
  border-bottom-color: var(--blue-100);
}

.left_sidebar_main_section {
  flex-grow: 1;
  border-top: 2px solid black;
  padding-top: 2rem;
  margin-left: 2rem;
}

.footer_items_container {
  &:last-child {
    &:after {
      content: "";
    }
  }
}

hr {
  margin-top: 1rem;
  margin-bottom: 2rem;
  border: 0;
  border-top: 1px solid var(--gray-175);
}

.page_section_container {
  width: 95%;
  margin-left: auto;
  margin-right: auto;
}

.footer_item a {
  padding: 5px 10px;
}
a.internal_link {
  color: black;
  &:hover {
    color: white;
    background: var(--blue-100);
    transition: background 0.25s ease-in-out;
  }
}

.section_header {
  margin-bottom: 1rem;
}
.section_text {
  color: #777;
}

a.external_link {
  color: var(--blue-100);
  &:hover {
    background: none !important;
  }
}
