.page_container {
  width: 70%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 5rem;
}

.sidebar {
  display: inline-block;
  width: 17%;
  border-top: 2px solid black;
  padding-top: 2rem;
  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }
  li.sidebar_navigation_link_container {
    border-bottom: 1px solid #ccc;
  }
  .sidebar_navigation_link_image img {
    display: block;
    padding-bottom: 1rem;
    border-bottom: 5px solid transparent;
    &:hover {
      border-bottom-color: var(--blue-100);
    }
  }
  .active_nav_image img {
    border-bottom-color: var(--blue-100);
  }
  a.sidebar_navigation_link {
    display: block;
    width: 100%;
    height: 100%;
    padding: 10px;
    color: black;
    &.active_nav_link {
      color: white;
      background: var(--blue-100);
    }
    &:hover {
      color: white;
      background: var(--blue-100);
    }
  }
}
.main_section {
  display: inline-block;
  vertical-align: top;
  width: 75%;
  border-top: 2px solid black;
  padding-top: 2rem;
  margin-left: 5%;
}

footer {
  margin-top: 1rem;
  margin-bottom: 2rem;
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
  border-top: 2px solid black;
  border-bottom: 2px solid black;
  font-size: "14px";
  a {
    &.active_nav_link {
      color: white;
      background: var(--blue-100);
    }
  }
}

hr {
  margin-top: 1rem;
  margin-bottom: 2rem;
  border: 0;
  border-top: 1px solid var(--gray-175);
}

.footer_items_container {
  display: flex;
  justify-content: space-between;
}
.footer_item_copyright {
  display: inline-block;
  flex-grow: 1;
  text-align: right;
  color: #aaa;
}
.footer_item {
  display: inline-block;
  a {
    padding: 5px 10px;
  }
}
a.internal_link {
  color: black;
  &:hover {
    color: white;
    background: var(--blue-100);
    transition: background 0.25s ease-in-out;
  }
}

.section_header {
  margin-bottom: 1rem;
}
.section_text {
  color: #777;
  line-height: 1.5;
}

a.external_link {
  position: relative;
  color: var(--blue-100);
  &:hover {
    background: none !important;
  }
  i {
    vertical-align: middle;
    margin-left: 5px;
    font-size: 8pt;
  }
}

.display-inline-block {
  display: inline-block;
}
.width-10rem {
  width: 10rem;
}

.width-20pc {
  width: calc(20% - 1rem);
}
.width-80pc {
  width: calc(80% - 1rem);
}
.margin-right-1 {
  margin-right: 1rem;
}
.margin-left-1 {
  margin-left: 1rem;
}
.vertical-align-top {
  vertical-align: top;
}

.padding-top-1 {
  padding-top: 1rem;
}
