.project_grid_container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1rem;
  @media screen and (max-width: 480px) {
    grid-template-columns: 1fr;
    grid-row-gap: 2rem;
  }
}

.project_grid_item {
  aspect-ratio: 1 / 1;
  position: relative;
  overflow: hidden;
  cursor: pointer;
}

.project_description_container {
  display: flex;
  color: #777;
  .project_description_container_images {
    width: calc(50% - 1rem);
    margin-right: 5%;
    img {
      border: 1px solid #ddd;
      margin-bottom: 1rem;
    }
  }
  ul {
    margin-left: 1rem;
  }
  li {
    color: #777;
    padding-bottom: 10px;
  }

  .project_description_text_container {
    width: 55%;
    display: inline-block;
    vertical-align: top;
    p {
      margin-bottom: 1rem;
    }
  }
  .project_description_text {
    padding-top: 1rem;
  }
  hr {
    margin-top: 0.5rem;
    margin-bottom: 1rem;
  }
}
.back-button {
  text-align: right;
  margin-top: 3rem;
  color: var(--blue-100);
}

//NEW HOVER TREATMENT
/*
.project_grid_item_overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(14, 113, 184, 0.7);
  backdrop-filter: blur(2px);
  opacity: 0;
  transition: all 0.25s ease-in-out;
  .project_grid_item_overlay_text {
    color: white;
    opacity: 0;
    transition: all 0.25s ease-in-out;
    padding: 1rem;
    p {
      font-size: 10pt;
      line-height: 13pt;
    }
  }
}

.project_grid_item:hover .project_grid_item_overlay {
  opacity: 1;
}

.project_grid_item:hover .project_grid_item_overlay_text {
  transition: all 0.25s ease-in-out;
  opacity: 1;
}
*/

//OLD HOVER TREATMENT
.project_grid_item_overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(14, 113, 184, 0.7);
  backdrop-filter: blur(2px);
  opacity: 0;
  transition: all 0.25s ease-in-out;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  .project_grid_item_overlay_text {
    color: white;
    opacity: 0;
    transition: all 0.25s ease-in-out;

    &.project_grid_item_overlay_text_top {
      transform: translateY(-50px);
      padding-bottom: 1rem;
    }
    &.project_grid_item_overlay_text_bottom {
      transform: translateY(50px);
    }
  }
}

.project_grid_item:hover .project_grid_item_overlay {
  opacity: 1;
}

.project_grid_item:hover .project_grid_item_overlay_text {
  transition: all 0.25s ease-in-out;
  transform: translateY(50%);
  opacity: 1;
}
