.project_grid_container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 2rem;
}
.project_grid_item {
  aspect-ratio: 1 / 1;
  position: relative;
  overflow: hidden;
  cursor: pointer;
}
.project_grid_item_overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(82, 158, 204, 0.5);
  backdrop-filter: blur(2px);
  opacity: 0;
  transition: all 0.3s ease-in-out;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  .project_grid_item_overlay_text {
    color: white;
    opacity: 0;
    transition: all 0.25s ease-in-out;

    &.project_grid_item_overlay_text_top {
      transform: translateY(-50px);
      padding-bottom: 1rem;
    }
    &.project_grid_item_overlay_text_bottom {
      transform: translateY(50px);
    }
  }
}

.project_grid_item:hover .project_grid_item_overlay {
  opacity: 1;
}

.project_grid_item:hover .project_grid_item_overlay_text {
  transition: all 0.25s ease-in-out;
  transform: translateY(50%);
  opacity: 1;
}
.project_description_container {
  display: flex;
  color: #aaa;
  ul {
    margin-left: 1rem;
  }
  li {
    padding-bottom: 1rem;
  }
  img {
    display: inline-block;
    max-width: 25rem;
  }
  .project_description_text_container {
    padding-left: 2rem;
  }
  hr {
    margin-top: 0.5rem;
    margin-bottom: 1rem;
  }
  .back-button {
    display: inline-block;
    position: absolute;
    right: 1rem;
    font-size: 18pt;
    color: var(--blue-150);
  }
}
