#resume_page {
  h1 {
    font-size: 65pt;
    color: #777;
    font-weight: 500;
    line-height: 0.8;
  }
  .contact_info_title {
    font-size: 11pt;
    font-weight: 600;
    color: var(--blue-150);
    padding-bottom: 2px;
  }
  .contact_info_content {
    font-size: 11pt;
    font-weight: 600;
  }
  .phone_number {
    width: 100%;
    height: 1rem;
    background-color: #aaa;
  }
  hr {
    margin-top: 0.5rem;
    margin-bottom: 1rem;
    border: 0;
    border-top: 1px solid black;
  }
}
