.hover-darken-10 {
  &:hover {
    filter: brightness(10%);
  }
}
.hover-darken-20 {
  &:hover {
    filter: brightness(20%);
  }
}
.hover-darken-30 {
  &:hover {
    filter: brightness(30%);
  }
}
.hover-darken-40 {
  &:hover {
    filter: brightness(40%);
  }
}
.hover-darken-50 {
  &:hover {
    filter: brightness(50%);
  }
}
.hover-darken-60 {
  &:hover {
    filter: brightness(60%);
  }
}
.hover-darken-70 {
  &:hover {
    filter: brightness(70%);
  }
}
.hover-darken-80 {
  &:hover {
    filter: brightness(80%);
  }
}
.hover-darken-90 {
  &:hover {
    filter: brightness(90%);
  }
}
