.color_red_50 {
  background-color: #ffebee;
  fill: #ffebee;
  stroke: #ffebee;
}
.color_red_100 {
  background-color: #ffcdd2;
  fill: #ffcdd2;
  stroke: #ffcdd2;
}
.color_red_200 {
  background-color: #ef9a9a;
  fill: #ef9a9a;
  stroke: #ef9a9a;
}
.color_red_300 {
  background-color: #e57373;
  fill: #e57373;
  stroke: #e57373;
}
.color_red_400 {
  background-color: #ef5350;
  fill: #ef5350;
  stroke: #ef5350;
}
.color_red_500 {
  background-color: #f44336;
  fill: #f44336;
  stroke: #f44336;
}
.color_red_600 {
  background-color: #e53935;
  fill: #e53935;
  stroke: #e53935;
}
.color_red_700 {
  background-color: #d32f2f;
  fill: #d32f2f;
  stroke: #d32f2f;
}
.color_red_800 {
  background-color: #c62828;
  fill: #c62828;
  stroke: #c62828;
}
.color_red_900 {
  background-color: #b71c1c;
  fill: #b71c1c;
  stroke: #b71c1c;
}
.color_red_A100 {
  background-color: #ff8a80;
  fill: #ff8a80;
  stroke: #ff8a80;
}
.color_red_A200 {
  background-color: #ff5252;
  fill: #ff5252;
  stroke: #ff5252;
}
.color_red_A400 {
  background-color: #ff1744;
  fill: #ff1744;
  stroke: #ff1744;
}
.color_red_A700 {
  background-color: #d50000;
  fill: #d50000;
  stroke: #d50000;
}

.color_pink_50 {
  background-color: #fce4ec;
  fill: #fce4ec;
  stroke: #fce4ec;
}
.color_pink_100 {
  background-color: #f8bbd0;
  fill: #f8bbd0;
  stroke: #f8bbd0;
}
.color_pink_200 {
  background-color: #f48fb1;
  fill: #f48fb1;
  stroke: #f48fb1;
}
.color_pink_300 {
  background-color: #f06292;
  fill: #f06292;
  stroke: #f06292;
}
.color_pink_400 {
  background-color: #ec407a;
  fill: #ec407a;
  stroke: #ec407a;
}
.color_pink_500 {
  background-color: #e91e63;
  fill: #e91e63;
  stroke: #e91e63;
}
.color_pink_600 {
  background-color: #d81b60;
  fill: #d81b60;
  stroke: #d81b60;
}
.color_pink_700 {
  background-color: #c2185b;
  fill: #c2185b;
  stroke: #c2185b;
}
.color_pink_800 {
  background-color: #ad1457;
  fill: #ad1457;
  stroke: #ad1457;
}
.color_pink_900 {
  background-color: #880e4f;
  fill: #880e4f;
  stroke: #880e4f;
}
.color_pink_A100 {
  background-color: #ff80ab;
  fill: #ff80ab;
  stroke: #ff80ab;
}
.color_pink_A200 {
  background-color: #ff4081;
  fill: #ff4081;
  stroke: #ff4081;
}
.color_pink_A400 {
  background-color: #f50057;
  fill: #f50057;
  stroke: #f50057;
}
.color_pink_A700 {
  background-color: #c51162;
  fill: #c51162;
  stroke: #c51162;
}

.color_purple_50 {
  background-color: #f3e5f5;
  fill: #f3e5f5;
  stroke: #f3e5f5;
}
.color_purple_100 {
  background-color: #e1bee7;
  fill: #e1bee7;
  stroke: #e1bee7;
}
.color_purple_200 {
  background-color: #ce93d8;
  fill: #ce93d8;
  stroke: #ce93d8;
}
.color_purple_300 {
  background-color: #ba68c8;
  fill: #ba68c8;
  stroke: #ba68c8;
}
.color_purple_400 {
  background-color: #ab47bc;
  fill: #ab47bc;
  stroke: #ab47bc;
}
.color_purple_500 {
  background-color: #9c27b0;
  fill: #9c27b0;
  stroke: #9c27b0;
}
.color_purple_600 {
  background-color: #8e24aa;
  fill: #8e24aa;
  stroke: #8e24aa;
}
.color_purple_700 {
  background-color: #7b1fa2;
  fill: #7b1fa2;
  stroke: #7b1fa2;
}
.color_purple_800 {
  background-color: #6a1b9a;
  fill: #6a1b9a;
  stroke: #6a1b9a;
}
.color_purple_900 {
  background-color: #4a148c;
  fill: #4a148c;
  stroke: #4a148c;
}
.color_purple_A100 {
  background-color: #ea80fc;
  fill: #ea80fc;
  stroke: #ea80fc;
}
.color_purple_A200 {
  background-color: #e040fb;
  fill: #e040fb;
  stroke: #e040fb;
}
.color_purple_A400 {
  background-color: #d500f9;
  fill: #d500f9;
  stroke: #d500f9;
}
.color_purple_A700 {
  background-color: #aa00ff;
  fill: #aa00ff;
  stroke: #aa00ff;
}

.color_deep_purple_50 {
  background-color: #ede7f6;
  fill: #ede7f6;
  stroke: #ede7f6;
}
.color_deep_purple_100 {
  background-color: #d1c4e9;
  fill: #d1c4e9;
  stroke: #d1c4e9;
}
.color_deep_purple_200 {
  background-color: #b39ddb;
  fill: #b39ddb;
  stroke: #b39ddb;
}
.color_deep_purple_300 {
  background-color: #9575cd;
  fill: #9575cd;
  stroke: #9575cd;
}
.color_deep_purple_400 {
  background-color: #7e57c2;
  fill: #7e57c2;
  stroke: #7e57c2;
}
.color_deep_purple_500 {
  background-color: #673ab7;
  fill: #673ab7;
  stroke: #673ab7;
}
.color_deep_purple_600 {
  background-color: #5e35b1;
  fill: #5e35b1;
  stroke: #5e35b1;
}
.color_deep_purple_700 {
  background-color: #512da8;
  fill: #512da8;
  stroke: #512da8;
}
.color_deep_purple_800 {
  background-color: #4527a0;
  fill: #4527a0;
  stroke: #4527a0;
}
.color_deep_purple_900 {
  background-color: #311b92;
  fill: #311b92;
  stroke: #311b92;
}
.color_deep_purple_A100 {
  background-color: #b388ff;
  fill: #b388ff;
  stroke: #b388ff;
}
.color_deep_purple_A200 {
  background-color: #7c4dff;
  fill: #7c4dff;
  stroke: #7c4dff;
}
.color_deep_purple_A400 {
  background-color: #651fff;
  fill: #651fff;
  stroke: #651fff;
}
.color_deep_purple_A700 {
  background-color: #6200ea;
  fill: #6200ea;
  stroke: #6200ea;
}

.color_indigo_50 {
  background-color: #e8eaf6;
  fill: #e8eaf6;
  stroke: #e8eaf6;
}
.color_indigo_100 {
  background-color: #c5cae9;
  fill: #c5cae9;
  stroke: #c5cae9;
}
.color_indigo_200 {
  background-color: #9fa8da;
  fill: #9fa8da;
  stroke: #9fa8da;
}
.color_indigo_300 {
  background-color: #7986cb;
  fill: #7986cb;
  stroke: #7986cb;
}
.color_indigo_400 {
  background-color: #5c6bc0;
  fill: #5c6bc0;
  stroke: #5c6bc0;
}
.color_indigo_500 {
  background-color: #3f51b5;
  fill: #3f51b5;
  stroke: #3f51b5;
}
.color_indigo_600 {
  background-color: #3949ab;
  fill: #3949ab;
  stroke: #3949ab;
}
.color_indigo_700 {
  background-color: #303f9f;
  fill: #303f9f;
  stroke: #303f9f;
}
.color_indigo_800 {
  background-color: #283593;
  fill: #283593;
  stroke: #283593;
}
.color_indigo_900 {
  background-color: #1a237e;
  fill: #1a237e;
  stroke: #1a237e;
}
.color_indigo_A100 {
  background-color: #8c9eff;
  fill: #8c9eff;
  stroke: #8c9eff;
}
.color_indigo_A200 {
  background-color: #536dfe;
  fill: #536dfe;
  stroke: #536dfe;
}
.color_indigo_A400 {
  background-color: #3d5afe;
  fill: #3d5afe;
  stroke: #3d5afe;
}
.color_indigo_A700 {
  background-color: #304ffe;
  fill: #304ffe;
  stroke: #304ffe;
}

.color_blue_50 {
  background-color: #e3f2fd;
  fill: #e3f2fd;
  stroke: #e3f2fd;
}
.color_blue_100 {
  background-color: #bbdefb;
  fill: #bbdefb;
  stroke: #bbdefb;
}
.color_blue_200 {
  background-color: #90caf9;
  fill: #90caf9;
  stroke: #90caf9;
}
.color_blue_300 {
  background-color: #64b5f6;
  fill: #64b5f6;
  stroke: #64b5f6;
}
.color_blue_400 {
  background-color: #42a5f5;
  stroke: #42a5f5;
  fill: #42a5f5;
}
.color_blue_500 {
  background-color: #2196f3;
  stroke: #2196f3;
  fill: #2196f3;
}
.color_blue_600 {
  background-color: #1e88e5;
  stroke: #1e88e5;
  fill: #1e88e5;
}
.color_blue_700 {
  background-color: #1976d2;
  fill: #1976d2;
  stroke: #1976d2;
}
.color_blue_800 {
  background-color: #1565c0;
  fill: #1565c0;
  stroke: #1565c0;
}
.color_blue_900 {
  background-color: #0d47a1;
  fill: #0d47a1;
  stroke: #0d47a1;
}
.color_blue_A100 {
  background-color: #82b1ff;
  fill: #82b1ff;
  stroke: #82b1ff;
}
.color_blue_A200 {
  background-color: #448aff;
  fill: #448aff;
  stroke: #448aff;
}
.color_blue_A400 {
  background-color: #2979ff;
  fill: #2979ff;
  stroke: #2979ff;
}
.color_blue_A700 {
  background-color: #2962ff;
  fill: #2962ff;
  stroke: #2962ff;
}

.color_light_blue_50 {
  background-color: #e1f5fe;
  fill: #e1f5fe;
  stroke: #e1f5fe;
}
.color_light_blue_100 {
  background-color: #b3e5fc;
  fill: #b3e5fc;
  stroke: #b3e5fc;
}
.color_light_blue_200 {
  background-color: #81d4fa;
  fill: #81d4fa;
  stroke: #81d4fa;
}
.color_light_blue_300 {
  background-color: #4fc3f7;
  fill: #4fc3f7;
  stroke: #4fc3f7;
}
.color_light_blue_400 {
  background-color: #29b6f6;
  fill: #29b6f6;
  stroke: #29b6f6;
}
.color_light_blue_500 {
  background-color: #03a9f4;
  fill: #03a9f4;
  stroke: #03a9f4;
}
.color_light_blue_600 {
  background-color: #039be5;
  fill: #039be5;
  stroke: #039be5;
}
.color_light_blue_700 {
  background-color: #0288d1;
  fill: #0288d1;
  stroke: #0288d1;
}
.color_light_blue_800 {
  background-color: #0277bd;
  fill: #0277bd;
  stroke: #0277bd;
}
.color_light_blue_900 {
  background-color: #01579b;
  fill: #01579b;
  stroke: #01579b;
}
.color_light_blue_A100 {
  background-color: #80d8ff;
  fill: #80d8ff;
  stroke: #80d8ff;
}
.color_light_blue_A200 {
  background-color: #40c4ff;
  fill: #40c4ff;
  stroke: #40c4ff;
}
.color_light_blue_A400 {
  background-color: #00b0ff;
  fill: #00b0ff;
  stroke: #00b0ff;
}
.color_light_blue_A700 {
  background-color: #0091ea;
  fill: #0091ea;
  stroke: #0091ea;
}

.color_cyan_50 {
  background-color: #e0f7fa;
  fill: #e0f7fa;
  stroke: #e0f7fa;
}
.color_cyan_100 {
  background-color: #b2ebf2;
  fill: #b2ebf2;
  stroke: #b2ebf2;
}
.color_cyan_200 {
  background-color: #80deea;
  fill: #80deea;
  stroke: #80deea;
}
.color_cyan_300 {
  background-color: #4dd0e1;
  fill: #4dd0e1;
  stroke: #4dd0e1;
}
.color_cyan_400 {
  background-color: #26c6da;
  fill: #26c6da;
  stroke: #26c6da;
}
.color_cyan_500 {
  background-color: #00bcd4;
  fill: #00bcd4;
  stroke: #00bcd4;
}
.color_cyan_600 {
  background-color: #00acc1;
  fill: #00acc1;
  stroke: #00acc1;
}
.color_cyan_700 {
  background-color: #0097a7;
  fill: #0097a7;
  stroke: #0097a7;
}
.color_cyan_800 {
  background-color: #00838f;
  fill: #00838f;
  stroke: #00838f;
}
.color_cyan_900 {
  background-color: #006064;
  fill: #006064;
  stroke: #006064;
}
.color_cyan_A100 {
  background-color: #84ffff;
  fill: #84ffff;
  stroke: #84ffff;
}
.color_cyan_A200 {
  background-color: #18ffff;
  fill: #18ffff;
  stroke: #18ffff;
}
.color_cyan_A400 {
  background-color: #00e5ff;
  fill: #00e5ff;
  stroke: #00e5ff;
}
.color_cyan_A700 {
  background-color: #00b8d4;
  fill: #00b8d4;
  stroke: #00b8d4;
}

.color_teal_50 {
  background-color: #e0f2f1;
  fill: #e0f2f1;
  stroke: #e0f2f1;
}
.color_teal_100 {
  background-color: #b2dfdb;
  fill: #b2dfdb;
  stroke: #b2dfdb;
}
.color_teal_200 {
  background-color: #80cbc4;
  fill: #80cbc4;
  stroke: #80cbc4;
}
.color_teal_300 {
  background-color: #4db6ac;
  fill: #4db6ac;
  stroke: #4db6ac;
}
.color_teal_400 {
  background-color: #26a69a;
  fill: #26a69a;
  stroke: #26a69a;
}
.color_teal_500 {
  background-color: #009688;
  fill: #009688;
  stroke: #009688;
}
.color_teal_600 {
  background-color: #00897b;
  fill: #00897b;
  stroke: #00897b;
}
.color_teal_700 {
  background-color: #00796b;
  fill: #00796b;
  stroke: #00796b;
}
.color_teal_800 {
  background-color: #00695c;
  fill: #00695c;
  stroke: #00695c;
}
.color_teal_900 {
  background-color: #004d40;
  fill: #004d40;
  stroke: #004d40;
}
.color_teal_A100 {
  background-color: #84ffff;
  fill: #84ffff;
  stroke: #84ffff;
}
.color_teal_A200 {
  background-color: #18ffff;
  fill: #18ffff;
  stroke: #18ffff;
}
.color_teal_A400 {
  background-color: #00e5ff;
  fill: #00e5ff;
  stroke: #00e5ff;
}
.color_teal_A700 {
  background-color: #00b8d4;
  fill: #00b8d4;
  stroke: #00b8d4;
}

.color_green_50 {
  background-color: #e8f5e9;
  fill: #e8f5e9;
  stroke: #e8f5e9;
}
.color_green_100 {
  background-color: #c8e6c9;
  fill: #c8e6c9;
  stroke: #c8e6c9;
}
.color_green_200 {
  background-color: #a5d6a7;
  fill: #a5d6a7;
  stroke: #a5d6a7;
}
.color_green_300 {
  background-color: #81c784;
  fill: #81c784;
  stroke: #81c784;
}
.color_green_400 {
  background-color: #66bb6a;
  fill: #66bb6a;
  stroke: #66bb6a;
}
.color_green_500 {
  background-color: #4caf50;
  fill: #4caf50;
  stroke: #4caf50;
}
.color_green_600 {
  background-color: #43a047;
  fill: #43a047;
  stroke: #43a047;
}
.color_green_700 {
  background-color: #388e3c;
  fill: #388e3c;
  stroke: #388e3c;
}
.color_green_800 {
  background-color: #2e7d32;
  fill: #2e7d32;
  stroke: #2e7d32;
}
.color_green_900 {
  background-color: #1b5e20;
  fill: #1b5e20;
  stroke: #1b5e20;
}
.color_green_A100 {
  background-color: #b9f6ca;
  fill: #b9f6ca;
  stroke: #b9f6ca;
}
.color_green_A200 {
  background-color: #69f0ae;
  fill: #69f0ae;
  stroke: #69f0ae;
}
.color_green_A400 {
  background-color: #00e676;
  fill: #00e676;
  stroke: #00e676;
}
.color_green_A700 {
  background-color: #00c853;
  fill: #00c853;
  stroke: #00c853;
}

.color_light_green_50 {
  background-color: #f1f8e9;
  fill: #f1f8e9;
  stroke: #f1f8e9;
}
.color_light_green_100 {
  background-color: #dcedc8;
  fill: #dcedc8;
  stroke: #dcedc8;
}
.color_light_green_200 {
  background-color: #c5e1a5;
  fill: #c5e1a5;
  stroke: #c5e1a5;
}
.color_light_green_300 {
  background-color: #aed581;
  fill: #aed581;
  stroke: #aed581;
}
.color_light_green_400 {
  background-color: #9ccc65;
  fill: #9ccc65;
  stroke: #9ccc65;
}
.color_light_green_500 {
  background-color: #8bc34a;
  fill: #8bc34a;
  stroke: #8bc34a;
}
.color_light_green_600 {
  background-color: #7cb342;
  fill: #7cb342;
  stroke: #7cb342;
}
.color_light_green_700 {
  background-color: #689f38;
  fill: #689f38;
  stroke: #689f38;
}
.color_light_green_800 {
  background-color: #558b2f;
  fill: #558b2f;
  stroke: #558b2f;
}
.color_light_green_900 {
  background-color: #33691e;
  fill: #33691e;
  stroke: #33691e;
}
.color_light_green_A100 {
  background-color: #ccff90;
  fill: #ccff90;
  stroke: #ccff90;
}
.color_light_green_A200 {
  background-color: #b2ff59;
  fill: #b2ff59;
  stroke: #b2ff59;
}
.color_light_green_A400 {
  background-color: #76ff03;
  fill: #76ff03;
  stroke: #76ff03;
}
.color_light_green_A700 {
  background-color: #64dd17;
  fill: #64dd17;
  stroke: #64dd17;
}

.color_lime_50 {
  background-color: #f9fbe7;
  fill: #f9fbe7;
  stroke: #f9fbe7;
}
.color_lime_100 {
  background-color: #f0f4c3;
  fill: #f0f4c3;
  stroke: #f0f4c3;
}
.color_lime_200 {
  background-color: #e6ee9c;
  fill: #e6ee9c;
  stroke: #e6ee9c;
}
.color_lime_300 {
  background-color: #dce775;
  fill: #dce775;
  stroke: #dce775;
}
.color_lime_400 {
  background-color: #d4e157;
  fill: #d4e157;
  stroke: #d4e157;
}
.color_lime_500 {
  background-color: #cddc39;
  fill: #cddc39;
  stroke: #cddc39;
}
.color_lime_600 {
  background-color: #c0ca33;
  fill: #c0ca33;
  stroke: #c0ca33;
}
.color_lime_700 {
  background-color: #afb42b;
  fill: #afb42b;
  stroke: #afb42b;
}
.color_lime_800 {
  background-color: #9e9d24;
  fill: #9e9d24;
  stroke: #9e9d24;
}
.color_lime_900 {
  background-color: #827717;
  fill: #827717;
  stroke: #827717;
}
.color_lime_A100 {
  background-color: #f4ff81;
  fill: #f4ff81;
  stroke: #f4ff81;
}
.color_lime_A200 {
  background-color: #eeff41;
  fill: #eeff41;
  stroke: #eeff41;
}
.color_lime_A400 {
  background-color: #c6ff00;
  fill: #c6ff00;
  stroke: #c6ff00;
}
.color_lime_A700 {
  background-color: #aeea00;
  fill: #aeea00;
  stroke: #aeea00;
}

.color_yellow_50 {
  background-color: #fffde7;
  fill: #fffde7;
  stroke: #fffde7;
}
.color_yellow_100 {
  background-color: #fff9c4;
  fill: #fff9c4;
  stroke: #fff9c4;
}
.color_yellow_200 {
  background-color: #fff59d;
  fill: #fff59d;
  stroke: #fff59d;
}
.color_yellow_300 {
  background-color: #fff176;
  fill: #fff176;
  stroke: #fff176;
}
.color_yellow_400 {
  background-color: #ffee58;
  fill: #ffee58;
  stroke: #ffee58;
}
.color_yellow_500 {
  background-color: #ffeb3b;
  fill: #ffeb3b;
  stroke: #ffeb3b;
}
.color_yellow_600 {
  background-color: #fdd835;
  fill: #fdd835;
  stroke: #fdd835;
}
.color_yellow_700 {
  background-color: #fbc02d;
  fill: #fbc02d;
  stroke: #fbc02d;
}
.color_yellow_800 {
  background-color: #f9a825;
  fill: #f9a825;
  stroke: #f9a825;
}
.color_yellow_900 {
  background-color: #f57f17;
  fill: #f57f17;
  stroke: #f57f17;
}
.color_yellow_A100 {
  background-color: #ffff8d;
  fill: #ffff8d;
  stroke: #ffff8d;
}
.color_yellow_A200 {
  background-color: #ffff00;
  fill: #ffff00;
  stroke: #ffff00;
}
.color_yellow_A400 {
  background-color: #ffea00;
  fill: #ffea00;
  stroke: #ffea00;
}
.color_yellow_A700 {
  background-color: #ffd600;
  fill: #ffd600;
  stroke: #ffd600;
}

.color_amber_50 {
  background-color: #fff8e1;
  fill: #fff8e1;
  stroke: #fff8e1;
}
.color_amber_100 {
  background-color: #ffecb3;
  fill: #ffecb3;
  stroke: #ffecb3;
}
.color_amber_200 {
  background-color: #ffe082;
  fill: #ffe082;
  stroke: #ffe082;
}
.color_amber_300 {
  background-color: #ffd54f;
  fill: #ffd54f;
  stroke: #ffd54f;
}
.color_amber_400 {
  background-color: #ffca28;
  fill: #ffca28;
  stroke: #ffca28;
}
.color_amber_500 {
  background-color: #ffc107;
  fill: #ffc107;
  stroke: #ffc107;
}
.color_amber_600 {
  background-color: #ffb300;
  fill: #ffb300;
  stroke: #ffb300;
}
.color_amber_700 {
  background-color: #ffa000;
  fill: #ffa000;
  stroke: #ffa000;
}
.color_amber_800 {
  background-color: #ff8f00;
  fill: #ff8f00;
  stroke: #ff8f00;
}
.color_amber_900 {
  background-color: #ff6f00;
  fill: #ff6f00;
  stroke: #ff6f00;
}
.color_amber_A100 {
  background-color: #ffe57f;
  fill: #ffe57f;
  stroke: #ffe57f;
}
.color_amber_A200 {
  background-color: #ffd740;
  fill: #ffd740;
  stroke: #ffd740;
}
.color_amber_A400 {
  background-color: #ffc400;
  fill: #ffc400;
  stroke: #ffc400;
}
.color_amber_A700 {
  background-color: #ffab00;
  fill: #ffab00;
  stroke: #ffab00;
}

.color_orange_50 {
  background-color: #fff3e0;
  fill: #fff3e0;
  stroke: #fff3e0;
}
.color_orange_100 {
  background-color: #ffe0b2;
  fill: #ffe0b2;
  stroke: #ffe0b2;
}
.color_orange_200 {
  background-color: #ffcc80;
  fill: #ffcc80;
  stroke: #ffcc80;
}
.color_orange_300 {
  background-color: #ffb74d;
  fill: #ffb74d;
  stroke: #ffb74d;
}
.color_orange_400 {
  background-color: #ffa726;
  fill: #ffa726;
  stroke: #ffa726;
}
.color_orange_500 {
  background-color: #ff9800;
  fill: #ff9800;
  stroke: #ff9800;
}
.color_orange_600 {
  background-color: #fb8c00;
  fill: #fb8c00;
  stroke: #fb8c00;
}
.color_orange_700 {
  background-color: #f57c00;
  fill: #f57c00;
  stroke: #f57c00;
}
.color_orange_800 {
  background-color: #ef6c00;
  fill: #ef6c00;
  stroke: #ef6c00;
}
.color_orange_900 {
  background-color: #e65100;
  fill: #e65100;
  stroke: #e65100;
}
.color_orange_A100 {
  background-color: #ffd180;
  fill: #ffd180;
  stroke: #ffd180;
}
.color_orange_A200 {
  background-color: #ffab40;
  fill: #ffab40;
  stroke: #ffab40;
}
.color_orange_A400 {
  background-color: #ff9100;
  fill: #ff9100;
  stroke: #ff9100;
}
.color_orange_A700 {
  background-color: #ff6d00;
  fill: #ff6d00;
  stroke: #ff6d00;
}

.color_deep_orange_50 {
  background-color: #fbe9e7;
  fill: #fbe9e7;
  stroke: #fbe9e7;
}
.color_deep_orange_100 {
  background-color: #ffccbc;
  fill: #ffccbc;
  stroke: #ffccbc;
}
.color_deep_orange_200 {
  background-color: #ffab91;
  fill: #ffab91;
  stroke: #ffab91;
}
.color_deep_orange_300 {
  background-color: #ff8a65;
  fill: #ff8a65;
  stroke: #ff8a65;
}
.color_deep_orange_400 {
  background-color: #ff7043;
  fill: #ff7043;
  stroke: #ff7043;
}
.color_deep_orange_500 {
  background-color: #ff5722;
  fill: #ff5722;
  stroke: #ff5722;
}
.color_deep_orange_600 {
  background-color: #f4511e;
  fill: #f4511e;
  stroke: #f4511e;
}
.color_deep_orange_700 {
  background-color: #e64a19;
  fill: #e64a19;
  stroke: #e64a19;
}
.color_deep_orange_800 {
  background-color: #d84315;
  fill: #d84315;
  stroke: #d84315;
}
.color_deep_orange_900 {
  background-color: #bf360c;
  fill: #bf360c;
  stroke: #bf360c;
}
.color_deep_orange_A100 {
  background-color: #ff9e80;
  fill: #ff9e80;
  stroke: #ff9e80;
}
.color_deep_orange_A200 {
  background-color: #ff6e40;
  fill: #ff6e40;
  stroke: #ff6e40;
}
.color_deep_orange_A400 {
  background-color: #ff3d00;
  fill: #ff3d00;
  stroke: #ff3d00;
}
.color_deep_orange_A700 {
  background-color: #dd2c00;
  fill: #dd2c00;
  stroke: #dd2c00;
}

.color_brown_50 {
  background-color: #efebe9;
  fill: #efebe9;
  stroke: #efebe9;
}
.color_brown_100 {
  background-color: #d7ccc8;
  fill: #d7ccc8;
  stroke: #d7ccc8;
}
.color_brown_200 {
  background-color: #bcaaa4;
  fill: #bcaaa4;
  stroke: #bcaaa4;
}
.color_brown_300 {
  background-color: #a1887f;
  fill: #a1887f;
  stroke: #a1887f;
}
.color_brown_400 {
  background-color: #8d6e63;
  fill: #8d6e63;
  stroke: #8d6e63;
}
.color_brown_500 {
  background-color: #795548;
  fill: #795548;
  stroke: #795548;
}
.color_brown_600 {
  background-color: #6d4c41;
  fill: #6d4c41;
  stroke: #6d4c41;
}
.color_brown_700 {
  background-color: #5d4037;
  fill: #5d4037;
  stroke: #5d4037;
}
.color_brown_800 {
  background-color: #4e342e;
  fill: #4e342e;
  stroke: #4e342e;
}
.color_brown_900 {
  background-color: #3e2723;
  fill: #3e2723;
  stroke: #3e2723;
}
.color_brown_A100 {
  background-color: #3e2723;
  fill: #3e2723;
  stroke: #3e2723;
}
.color_brown_A200 {
  background-color: #3e2723;
  fill: #3e2723;
  stroke: #3e2723;
}
.color_brown_A400 {
  background-color: #3e2723;
  fill: #3e2723;
  stroke: #3e2723;
}
.color_brown_A700 {
  background-color: #3e2723;
  fill: #3e2723;
  stroke: #3e2723;
}

.color_gray_50 {
  background-color: #fafafa;
  fill: #fafafa;
  stroke: #fafafa;
}
.color_gray_100 {
  background-color: #f5f5f5;
  fill: #f5f5f5;
  stroke: #f5f5f5;
}
.color_gray_200 {
  background-color: #eeeeee;
  fill: #eeeeee;
  stroke: #eeeeee;
}
.color_gray_300 {
  background-color: #e0e0e0;
  fill: #e0e0e0;
  stroke: #e0e0e0;
}
.color_gray_400 {
  background-color: #bdbdbd;
  fill: #bdbdbd;
  stroke: #bdbdbd;
}
.color_gray_500 {
  background-color: #9e9e9e;
  fill: #9e9e9e;
  stroke: #9e9e9e;
}
.color_gray_600 {
  background-color: #757575;
  fill: #757575;
  stroke: #757575;
}
.color_gray_700 {
  background-color: #616161;
  fill: #616161;
  stroke: #616161;
}
.color_gray_800 {
  background-color: #424242;
  fill: #424242;
  stroke: #424242;
}
.color_gray_900 {
  background-color: #212121;
  fill: #212121;
  stroke: #212121;
}
.color_gray_A100 {
  background-color: #212121;
  fill: #212121;
  stroke: #212121;
}
.color_gray_A200 {
  background-color: #212121;
  fill: #212121;
  stroke: #212121;
}

.color_gray_A400 {
  background-color: #212121;
  fill: #212121;
  stroke: #212121;
}

.color_gray_A700 {
  background-color: #212121;
  fill: #212121;
  stroke: #212121;
}

.color_blue_gray_50 {
  background-color: #eceff1;
  fill: #eceff1;
  stroke: #eceff1;
}
.color_blue_gray_100 {
  background-color: #cfd8dc;
  fill: #cfd8dc;
  stroke: #cfd8dc;
}
.color_blue_gray_200 {
  background-color: #b0bec5;
  fill: #b0bec5;
  stroke: #b0bec5;
}
.color_blue_gray_300 {
  background-color: #90a4ae;
  fill: #90a4ae;
  stroke: #90a4ae;
}
.color_blue_gray_400 {
  background-color: #78909c;
  fill: #78909c;
  stroke: #78909c;
}
.color_blue_gray_500 {
  background-color: #607d8b;
  fill: #607d8b;
  stroke: #607d8b;
}
.color_blue_gray_600 {
  background-color: #546e7a;
  fill: #546e7a;
  stroke: #546e7a;
}
.color_blue_gray_700 {
  background-color: #455a64;
  fill: #455a64;
  stroke: #455a64;
}
.color_blue_gray_800 {
  background-color: #37474f;
  fill: #37474f;
  stroke: #37474f;
}
.color_blue_gray_900 {
  background-color: #263238;
  fill: #263238;
  stroke: #263238;
}
.color_blue_gray_A100 {
  background-color: #263238;
  fill: #263238;
  stroke: #263238;
}
.color_blue_gray_A200 {
  background-color: #263238;
  fill: #263238;
  stroke: #263238;
}
.color_blue_gray_A400 {
  background-color: #263238;
  fill: #263238;
  stroke: #263238;
}
.color_blue_gray_A700 {
  background-color: #263238;
  fill: #263238;
  stroke: #263238;
}

.color_black,
.color_black_50,
.color_black_100,
.color_black_200,
.color_black_300,
.color_black_400,
.color_black_500,
.color_black_600,
.color_black_700,
.color_black_800,
.color_black_900,
.color_black_A100,
.color_black_A200,
.color_black_A400,
.color_black_A700 {
  background-color: #000000;
  fill: #000000;
  stroke: #000000;
}

.color_white,
.color_white_100,
.color_white_200,
.color_white_300,
.color_white_400,
.color_white_500,
.color_white_600,
.color_white_700,
.color_white_800,
.color_white_900,
.color_white_A100,
.color_white_A200,
.color_white_A400,
.color_white_A700 {
  background-color: #ffffff;
  fill: #ffffff;
  stroke: #ffffff;
}
.color_spotify_100,
.color_spotify_500 {
  background-color: #1db954;
  fill: #1db954;
  stroke: #1db954;
}
.age_interval {
  stroke: #fff;
}
